*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: roboto;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    background-color: white;
}
.post {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    border-radius: 2rem 2rem 0 0;
    background-color: white;
}

.post .img_wrapper {
    position: relative;
    min-width: 100%;
}
.post .img_wrapper img {
    max-width: 100%;
    border-radius: 2rem;
}